body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-align: center;
}


input[type="text"], input[type="password"]{
outline: none;
padding: 20px;
display: block;
width: 300px;
border-radius: 3px;
border: 1px solid #eee;
margin: 20px auto;
}

input[type="submit"]{
    padding:10px;
    color: #eee;
    background:#0098cb;
    width: 340px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;

}

input[type="submit"]:hover{
background-color: #00b8eb;
}

header{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

header a{
    text-decoration: none;
    color: #333;
}

.asterix{
    color: red;
    font-style: italic;
    font-size: 10px;
    margin-right: 250px;
}

.btnPrograma{
    text-decoration: none;
    padding: 5px 50px;
    color: #333;
    background-color: tomato;
}
